body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
}
.logo {
  padding: 20px;
  float: left;
  margin-left: 40px;
}

img {
  padding: 20px;
}

.btn {
  border: solid black 1px;
}

.navbar a,
.navbar button {
  font-family: serif;
  font-size: 16px;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.midnight,
.midnight button,
.btn-midnight {
  font-family: serif;
  border: none;
  background-color: #333;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.midnight a:hover,
.midnight button:hover,
.midnight.btn:hover {
  background-color: #606061;
  border: none;
}

.midnight a {
  color: white;
  font-family: serif;
}

.lagoon,
.lagoon button,
.btn-lagoon {
  padding: 10px 30px;
  border: none;
  background-color: #5986b5;
  text-align: center;
  text-decoration: none;
  font-family: serif;
}

.lagoon a:hover,
.lagoon button:hover,
.lagoon.btn:hover {
  background-color: #839ab7;
  border: none;
}

.lagoon a,
.lagoon button {
  font-family: serif;
  color: white;
}

.sunset,
.sunset button,
.btn-sunset {
  font-family: serif;
  background-color: #a41313;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #f8de7e;
}

.sunset a:hover,
.sunset button:hover,
.sunset.btn:hover {
  background-color: #e56800;
  border: none;
}

.sunset a,
.sunset button {
  font-family: serif;
  color: #f8de7e;
}

.moon,
.moon button,
.btn-moon {
  font-family: serif;
  background-color: #f8f8ff;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #282829;
}

.moon a:hover,
.moon button:hover,
.moon.btn:hover {
  background-color: #cacad0;
  border: none;
}

.moon a {
  font-family: serif;
  color: #282829;
}

/**************** Button Default Component Styles *********************/
.sm {
  font-size: 85%;
}

.md {
  font-size: 105%;
}

.lg {
  font-size: 125%;
}

.monster {
  font-size: 150%;
}

.btn-default {
  border: none;
  background-color: black;
  font-family: serif;
  color: white;
  width: auto;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.btn-default:hover {
  background-color: red;
}

/**************** Dropdown Component Styles *********************/

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(60, 70, 57, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  padding: 5px;
  float: left;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .icon {
    display: block;
    padding: 10px;
    background-color: inherit;
    color: inherit;
  }

  .nav-links {
    flex-direction: column;
  }
}
